.git
.gitignore
.env
.env.local
.env.development
.env.production
node_modules
apps/*/node_modules
packages/*/node_modules
apps/*/.next
apps/*/dist
packages/*/dist
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
